.accordion-toggle.no-padding {
  padding: 0;
}

.accordion-inner {
  border-top: none;
}

.no-border {
  border: none;
}

.value-cell {
		text-align: right;
}

.value-cell-center {
		text-align: center;
}

table, th, td {
    border: 1px solid grey;
}

.site-footer {
	background-color: #222;
	color: #fff;
	margin-top: 80px;
	padding-top: 10px;
}

.bottom-footer
{
	border-top: 1px solid #b2b2b2
	padding-top: 0px;
	color: #b2b2b2
}

.footer-nav
{
	font-size: 100%;
	text-align: right;
	list-style: none;
	padding-top: 0px;
	padding-bottom: 10px;
}

.footer-nav li
{
	display: inline;	
}

.footer-nav li:not(:first-child):before
{
	content: '| ';
	padding-top: 0px 10px;
}

.footer-nav a
{
	color: blue;
}

.footer-nav a:hover
{
	color: red;
	text-decoration: none;
}

.site-header {
	width: 100%;
	background-color: #E0E0E0;
	color: #fff;
	margin: 0px;
	padding: 0;
	top: 0;
	left: 0;
}

.header-image {
	height: 25%;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#images{
    text-align:center;
}

.header-nav
{
	font-size: 1.1em;
	text-align: center;
	list-style: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

.advert
{
	font-size: 1.2em;
	text-align: center;	
	padding-top: 10px;
	padding-bottom: 10px;
	/*background: #E0E0E0;*/
}

.header-nav li
{
	display: inline;	
}

.header-nav li:not(:first-child):before
{
	content: '| ';
	padding-top: 0px 10px;
}

.header-nav a
{
	color: blue;
}

.header-nav a:hover
{
	color: red;
	text-decoration: none;
}

.tabledesc {
    position:relative;
    top:5px;
    left: 0px;
    margin: 0px auto;  
    background: #A9A9F5;  
}

.header {
		text-align: center;
}

.indexbody {
		text-align: center;
		padding-top: 10px;
}

.banner-col
{	
	color: black;
}

.banner-subtitle
{
	color: blue;
}

.banner-subtitle1
{
	color: #FF6600;
}

.text-blue
{
	color:#43ADF1
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 50%;
    height: auto;
    /*height: 100%;*/
    margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 20px; /* .push must be the same height as .footer */
}

.graph {
	text-align: center;
}