.accordion-toggle.no-padding {
  padding: 0;
}

.accordion-inner {
  border-top: none;
}

.no-border {
  border: none;
}

.value-cell {
		text-align: right;
}

.value-cell-center {
		text-align: center;
}

table, th, td {
    border: 1px solid grey;
}


/*.site-header {
	width: 100%;
	background-color: #E0E0E0;
	color: #fff;
	margin: 0px;
	padding: 0;
	top: 0;
	left: 0;
}*/

.site-header {
  display: block;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  width: 100%;
  /*overflow: hidden;
  white-space: nowrap;*/


  /*height: 100%;*/
}

#images{
    text-align:left;
}

.header-nav
{
	display: block;
	text-align: right;	
  color: #666;
  line-height: 50px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 white;
  margin-top: 0;

  white-space: nowrap;
  }

.advert
{
	font-size: 5em;
	text-align: center;	
	padding-top: 10px;
	padding-bottom: 10px;
	/*background: #E0E0E0;*/
}

.container img
{
	width: 15%;
	height: auto;
	text-align: left;
}

.header-nav li:not(:first-child)
{
	display: inline-block;
	content: '	';
	padding-top: 0px 10px;
	padding-left: 50px;	
}

.header-nav a
{
	color: #666;
}

.header-nav a:hover
{
	color: #333;
	text-decoration: none;
}

.tabledesc {
    position:relative;
    top:5px;
    left: 0px;
    margin: 0px auto;  
    background: #A9A9F5;  
}

.header {
		text-align: center;
}

.indexbody {
		text-align: center;
		padding-top: 10px;
}

.banner-col
{	
	color: #666;
}

.banner-subtitle
{
	color: #666;
}

.banner-subtitle1
{
	color: #FF6600;
}

.text-blue
{
	color:#666
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 90%;
    height: auto;
    /*height: 100%;*/
    margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
    height: 20px; /* .push must be the same height as .footer */
}

.graph {
	text-align: center;
}

#indeximage
{
	padding-top: 50px;
	min-height: 5%;
	min-width: 100%;
}

.homebutton
{
  color: #FFA500;
}



/********************************************************************/
/* Footer */

#footer {
  margin-top: -35px;
  padding: 30px 0 15px 0;
  font-size: 14px;
  clear: both;
}

#footer ul {
  margin: 0 auto;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  padding-left: 2px;
  padding-right: 0px;
}

#footer li {
  display: inline-block;
  margin-right: 15px;
}

#footer li.pull-right {
  display: inline-block;
  margin-right: 0px;
}

#footer a {
  color: #bbb;
  padding: 5px 0;
}

/*
@media only screen and (min-width: 1992px) {
 #made-by {
   float: right;
   display: inline-block;
 }
}



/********************************************************************/