.accordion-toggle.no-padding {
  padding: 0;
}

.accordion-inner {
  border-top: none;
}

.no-border {
  border: none;
}

.site-footer {
	background-color: #222;
	color: #fff;
	margin-top: 80px;
	padding-top: 10px
}

.bottom-footer
{
	border-top: 1px solid #b2b2b2
	padding-top: 0px;
	color: #b2b2b2
}

.footer-nav
{
	font-size: 100%;
	text-align: right;
	list-style: none;
	padding-top: 0px;
	padding-bottom: 10px;
}

.footer-nav li
{
	display: inline;	
}

.footer-nav li:not(:first-child):before
{
	content: '| ';
	padding-top: 0px 10px;
}

.footer-nav a
{
	color: blue;
}

.footer-nav a:hover
{
	color: red;
	text-decoration: none;
}

.site-header {
	width: 100%;
	background-color: #E0E0E0;
	color: #fff;
	margin: 0px;
	padding: 0;
	top: 0;
	left: 0;
}

.header-image {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#images{
    text-align:center;
}

.header-nav
{
	font-size: 1.3em;
	text-align: center;
	list-style: none;
	padding-top: 30px;
	padding-bottom: 20px;
}
.header-nav li
{
	display: inline;	
}

.header-nav li:not(:first-child):before
{
	content: '| ';
	padding-top: 0px 10px;
}

.header-nav a
{
	color: blue;
}

.header-nav a:hover
{
	color: red;
	text-decoration: none;
}