<html>
  <head>
    <title>{{ title }}</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="https://www.scraperwiki.com/vendor/style/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
      <script src="//www.scraperwiki.com/vendor/js/bootstrap.min.js"></script>
      <script src="{{ url_for('static', filename='vendor.js') }}"></script>
      <script src="{{ url_for('static', filename='main.js') }}"></script>
       
  </head>
  <body>

      <!-- Header -->
      <header>
        <div>
          <div class="site-header">
            <nav class="header-nav">
              <li><a href="/">Home</a></li>
              <li><a href="http://data.gov.uk/dataset/anonymised_mot_test/">Original Data Source</a></li> 
              <li><a href="https://scraperwiki.com/">ScraperWiki Website</a></li>            
              <li><a href="https://scraperwiki.com/about">About ScraperWiki</a></li>
              <li><a href="https://scraperwiki.com/contact">Contact Us</a></li>              
            </nav>          
            <div id="images">
              <a href="http://data.gov.uk/dataset/anonymised_mot_test/"><img src="{{ url_for('static', filename = 'imageMOT.jpg') }}" class="header-image" alt="Responsive image"></a>
              <a href="#"><img src="{{ url_for('static', filename = 'imageMOT1.jpg') }}" class="header-image" alt="Responsive image"></a>
              <a href="https://scraperwiki.com/"><img src="{{ url_for('static', filename = 'imageMOT2.jpg') }}" class="header-image" alt="Responsive image"></a>
            </div>  
                       
          </div>         
          <div class="container">            
            {% block content %}{% endblock %}
          </div>      
        </div>
      </header>     

      <!-- Footer -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <h4>Contact Address</h4>
              <address>
                ScraperWiki, IC2<br>
                Liverpool Science Park<br>
                146 Brownlow Hill<br>
                Liverpool L3 5RF
              </address>
            </div>
            <div class="bottom-footer">
              <div class="col-md-5">&copy; Copyright 2015, ScraperWiki Ltd.</div>
              <div class="col-md-7">
                <ul class="footer-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="https://www.linkedin.com/profile/view?id=200132727&trk=nav_responsive_tab_profile">About the Developer</a></li>    
                </ul>
              </div>
            </div>
          </div>          
        </div>
      </footer>
      
  </body>
  
  
</html>