<html>
  <head>
    <title>{{ title }}</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
      <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor.js') }}"></script>
      <script src="{{ url_for('static', filename='main.js') }}"></script>
       
  </head>
  <body>
        <div id="header">
          <div class="container">
              <div class="navbar-header">
                <a id="header-logo" href="/"><img src="{{ url_for('static', filename='motp-pedia.png') }}" alt="MOTPedia"></a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
              </div>

              <div class="nav navbar-collapse collapse" id="navbar-main">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About this project</a></li> 
                  <li><a href="https://scraperwiki.com/about">About ScraperWiki</a></li>
                  <li><a href="https://scraperwiki.com/contact">Contact Us</a></li>
                </ul>
              </div>
          </div>
        </div>
        
      <div class="wrapper">            
        {% block content %}{% endblock %}
        <div class="push"></div>
      </div>
      <div class="footer"></div>
      <!-- Footer -->
     <div class="container">
      <div id="footer">
          <ul class="list-unstyled">
            
            <li><a id="footer-consulting" href="https://scraperwiki.com/contact">Contact Us</a></li>
            <li><a id="footer-automate" href="https://pdftables.com/">PDFTables</a></li>
            <li><a href="https://scraperwiki.com/products/databaker">DataBaker</a></li>
            <li><a id="footer-pricing" href="https://scraperwiki.com/products/data-science-platform">Data Science Platform</a></li>
            <li><a href="http://data.gov.uk/dataset/anonymised_mot_test/">Data Source</a></li>
            <li id="made-by"><a href="https://scraperwiki.com/about/">Made by</a> <a href="https://scraperwiki.com/about/"><img src="{{ url_for('static', filename='footer-logo.png') }}" alt="ScraperWiki"></a></li>
          </ul>
      </div>
    </div>
      
  </body>
  
  
</html>
