<html>
  <head>
    <title>{{ title }}</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="https://www.scraperwiki.com/vendor/style/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
      <script src="//www.scraperwiki.com/vendor/js/bootstrap.min.js"></script>
      <script src="{{ url_for('static', filename='vendor.js') }}"></script>
      <script src="{{ url_for('static', filename='main.js') }}"></script>
       
  </head>
  <body>

      <!-- Header -->
      <header>        
          <div class="site-header">
            <div class="container header-nav">              
              
                <a id="images" href="/"><img src="{{ url_for('static', filename = 'motp-pedia.png') }}" alt="Responsive image"></a>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About DataSet</a></li> 
                <li><a href="https://scraperwiki.com/about">About ScraperWiki</a></li>
                <li><a href="https://scraperwiki.com/contact">Contact Us</a></li>
                            
            </div>
          </div>         
      </header>     
      <div class="wrapper">            
        {% block content %}{% endblock %}
        <div class="push"></div>
      </div>
      <div class="footer"></div>
      <!-- Footer -->
     <div class="container">
      <div id="footer">
          <ul class="list-unstyled">
            
            <li><a id="footer-consulting" href="https://scraperwiki.com/contact">Contact Us</a></li>
            <li><a id="footer-automate" href="https://pdftables.com/">PDFTables</a></li>
            <li><a href="https://scraperwiki.com/products/databaker">DataBaker</a></li>
            <li><a id="footer-pricing" href="https://scraperwiki.com/products/data-science-platform">Data Science Platform</a></li>
            <li><a href="http://data.gov.uk/dataset/anonymised_mot_test/">Data Source</a></li><li id="made-by"><a href="https://scraperwiki.com/about/">Made by</a> <a href="https://scraperwiki.com/about/"><img src="{{ url_for('static', filename='imageMOT2.jpg') }}" alt="ScraperWiki"></a></li>
          </ul>
      </div>
    </div>
      
  </body>
  
  
</html>