{% extends "base.html" %}
{% set title = 'Pass Rate' %}

{% block content %}

	
	<!--Test
	<p id="demo">Test</p>
	-->
	<h3 class="header spacing">Pass Rate for <span class="text-black">{{ make }} {{ model }} {{ year }}</span> model is:</h3>
	<h3 class="header spacing"><span class="text-black">{{ rate }}%</span></h3>
	<h3 class="header spacing"><span class="text-black">{{ count_pass}}</span> passes out of <span class="text-black">{{ count_pass+count_fail }}</span> tests</h3>
	<h3 class="header spacing"><a href="/">Check pass rate for other models</a></h3>

			

{% endblock %}