{% extends "base.html" %}
{% set title = 'Second Order Query Results' %}
{% block content %}

	<!--Test
	<p id="demo">Test</p>
	-->
<div class="container">
	<h3 class="header">Fault BreakDown for the {{ total }} '{{ make }} {{ model }}' {{ year }} models with '{{ level1 }}' issues</h3>
	<table class="table table-striped">
		
		<tr class="text-blue-big">
		    <th class="header">Fault Full Description</th>
		    <th class="header">Number of Vehicles with this Description</th>		  	
	    </tr>
		
		
		{% for record, percentage in results.items() %}
			<tr>
				<td class="value-cell-center">
				{{ record[0]+': '+ record[1] }}
				</td>
				<td class="value-cell">
				{{ record[-1] }} ({{ percentage }}%)
				</td>				
			</tr>			
		{% endfor %}
	</table>

	<div class="graph">
		{{ fig|safe}}
	</div>
</div>

{% endblock %}