{% extends "base.html" %}
{% set title = 'Query Results' %}
{% block content %}	

	

	<!--Test
	<p id="demo">Test</p>
	-->
<div class="container">
	<h3 class="header">Top 10 Faults for <span class="text-black">{{ make }} {{ model }} {{ year }} model</span></h3>
	<h3 class="header spacing"># Cars that failed testing: {{ total }}</h3>
	<div class="row">
		<div>
			<table class="table table-striped">
				<tbody>
				
				<tr class="text-blue-big">
				    <th class="header">Fault Description</th>
				    <th class="header">#</th>
				    <th class="header">%</th>	
				    <th class="header"></th>
				    <th class="header"></th>	
			    </tr>
			    {% for record, percentage in results.items() %}
					<tr>
						<td>				
							<b>{{ record[0] }}</b>						
						</td>
						<td class="value-cell">
						{{ record[1] }}
						</td>						
						<td class="value-cell">
						{{ percentage }}%
						</td>
						<td>
						<div id="rectangle" style="background:#2ECCFA; height: 15px;width:{{ 10*percentage }}px">&nbsp;</div>
						</td>
						<td>
							<a href='/{{ year }}/FAULTS/{{ make }}/{{ model }}/{{ record[0] }}'>
							<small>detail</small>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>
	

{% endblock %}