{% extends "base.html" %}
{% set title = 'Second Order Query Results' %}
{% block content %}

	<!--Test
	<p id="demo">Test</p>
	-->
	<h4 class="header">Fault BreakDown for the {{ total }} '{{ make }} {{ model }}'s with '{{ level1 }}' issues</h4>
	<table cellspacing="50" class="tabledesc">
		
		<tr>
		    <th class="header">Top-Level Description Selected</th>
		    <th class="header">Fault Full Description</th>
		    <th class="header">Count of Vehicles with this Description</th>		  	
	    </tr>
		
		
		{% for record, percentage in results.items() %}
			<tr id="{{ index }}">
				<td>				
					<b>{{ level1 }}</b>						
				</td>
				<td class="value-cell-center">
				{{ record[0] }}
				</td>
				<td class="value-cell">
				{{ record[-1] }} ({{ percentage }}%)
				</td>				
			</tr>			
		{% endfor %}
	</table>

	<div class="graph">
		{{ fig|safe}}
	</div>

{% endblock %}