{% extends "base.html" %}
{% set title = 'Query Results' %}
{% block content %}	
	
	<div class="container">
	<h2 class="header">Top 10 Faults for <span class="text-blue">{{ make }} {{ model }}</span></h2>
	<h3 class="header"># Cars that failed testing: {{ total }}</h3>

	<div class="row">
		<div>
			<table class="table table-striped">
				
				<tr class="text-blue-big">
				    <th class="header">Fault Description</th>
				    <th class="header">#</th>
				    <th class="header">%</th>	
				    <th class="header"></th>	
			    </tr>
				
				
				{% for record, percentage in results.items() %}
					<tr>
						<td>				
							<b>{{ record[0] }}</b>						
						</td>
						<td class="value-cell">
						{{ record[1] }}
						</td>
						<td class="value-cell">
						{{ percentage }}%
						</td>
						<td>
							<a href='/FAULTS/{{ make }}/{{ model }}/{{ record[0] }}'>
							<small>detail</small>
							</a>
						</td>
					</tr>			
				{% endfor %}
			</table>
		</div>

		<div class="graph">
			{{ fig|safe}}
		</div>
	</div>
	</div>
	

{% endblock %}