{% extends "base.html" %}
{% set title = 'Second Order Query Results' %}
{% block content %}

	<!--Test
	<p id="demo">Test</p>
	-->
<div class="container">
	<h3 class="header spacing">Fault BreakDown for the {{ total }} <span class="text-blue">{{ make }} {{ model }}</span>'s with <span class="text-blue">{{ level1 }}</span> issues</h3>
	<table class="table table-striped">
		
		<tr class="text-blue-big">
		    <th class="header">Fault Full Description</th>
		    <th class="header">Number of Vehicles</th>
		    <th class="header"></th>		  	
	    </tr>
		
		
		{% for record, percentage in results.items() %}
			<tr>
				<td class="value-cell-center">
				{{ record[0] }}
				</td>
				<td class="value-cell">
				{{ record[-1] }} ({{ percentage }}%)
				</td>
				<td>
					<div id="rectangle" style="background:#2ECCFA; height: 15px;width:{{ 4*percentage }}px">&nbsp;</div>
				</td>				
			</tr>			
		{% endfor %}
	</table>

	
</div>

{% endblock %}