{% extends "base.html" %}
{% set title = 'Query Results' %}
{% set index = 0 %}
{% block content %}

	<style type="text/css">
	.value-cell {
		text-align: right;
	}

	table, th, td {
    border: 1px solid black;
	}

	.tabledesc {
    position:relative;
    top:40px;
    left: 0px;
    }

	.header {
		text-align: left;
	}

	#nav, #nav ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		#nav a {
			display: block;
			width: 10em;
		}

		#nav li {
			float: left;
			width: 10em;
		}

		#nav li ul {
			position: absolute;
			width: 10em;
			left: -999em;
		}

		#nav li:hover ul {
			left: auto;
		}

		#nav li:hover ul, #nav li.sfhover ul {
		left: auto;
		}

		#nav li ul ul {
		margin: -1em 0 0 10em;
		}

		#nav, #nav ul {
		padding: 0;
		margin: 0;
		list-style: none; 
		line-height: 1;
		}

		#nav li:hover ul ul, #nav li.sfhover ul ul {
		left: -999em;
		}

		#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
		left: auto;
		}

	</style>
	

	<script type="text/javascript">
		// 	sfHover = function() {
		// var sfEls = document.getElementById("nav").getElementsByTagName("td");
		// for (var i=0; i<sfEls.length; i++) {
		// 	sfEls[i].onmouseover=function() {
		// 		this.className+=" sfhover";
		// 	}
		// 	sfEls[i].onmouseout=function() {
		// 		this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		// 	}
		// }
		// }
		// if (window.attachEvent) window.attachEvent("onload", sfHover);

		var el = document.getElementById('foo');
		el.onclick = showFoo;


		function showFoo(index) {
			var row = document.getElementById(index);
        	var cell = row.getElementsByTagName("td");
        	var currentdescription = cell[0].innerText;
  			window.location.href = '/{{ make }}/{{ model }}/'+currentdescription;
  			//document.getElementById("demo").innerHTML = String(currentdescription);
		}
		
	</script>

	<!--Test
	<p id="demo">Test</p>
	-->
	<table cellspacing="50" class="tabledesc">
		<tr>
	    	<th colspan="5">Top 10 Fault Summary for {{ make }} {{ model }}</th>    		
	    </tr>
		<tr>
		    <th class="header">Fault Top-Level description</th>
		    <th class="header">Count of Vehicles with this Fault</th>
		    <th class="header">Total Count</th>
		    <th class="header">Percentage</th>	
		    <th class="header">Learn More</th>	
	    </tr>
		
		
		{% for record, percentage in results.items() %}
			<tr id="{{ index }}">
				<td>				
					<b>{{ record.description }}</b>						
				</td>
				<td class="value-cell">
				{{ record.count }}
				</td>
				<td class="value-cell">
				{{ total }}
				</td>
				<td class="value-cell">
				{{ percentage }}%
				</td>
				<td>
					<a href="#" onclick="showFoo({{ index }});">
					<small>show more detail</small>
					</a>
				</td>
			</tr>
			{% set index = index + 1 %}
		{% endfor %}
	</table>

{% endblock %}